body {
    font-family: "Nunito";
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
  }

.header {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Esto coloca los elementos en columna */
    justify-content: center;
    align-items: center;
}

#h1welcome{
    font-size: 120px;
    color: rgb(0, 0, 0);
    text-align: center; 
   
}

.contenido{
    color: black;
    font-family: "Nunito";
}

#h1our, #pem { 
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: 10%; 
}

#pem{
    color: rgb(56, 56, 56);
    font-size: 40px;
}

#imgsection1{
    width: 70%;
    margin: 9%; 

}


.contenidoverde{
    background-color: rgb(96, 237, 190);
    font-family: "Nunito";
    color: black;
   
    
}

#inno{
    font-size: 70px;
    margin-top: 50px;                                                                                                                                

}

#imgverde{
    width: 20%;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}